.force-tablet-view .as-full-width {
  grid-column: span 12 / span 12 !important;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination li a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.pagination li a:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.pagination li a:focus {
  z-index: 2;
  outline: 0;
  box-shadow: none;
}
.pagination li a:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.pagination li:first-child a {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination li:last-child a {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination li.active a {
  z-index: 1;
  color: #fff;
  background-color: #545cd8;
  border-color: #007bff;
}
.pagination li.active a:hover {
  color: #fff;
}
.pagination li.disabled a {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.as-bandbox-add-product-wrapper:before {
  content: '';
  position: absolute;
  background: #1e4e79;
  width: 200vw;
  height: 100%;
  left: -50%;
  z-index: -1;
}

.as-bg-gray-100 {
  background-color: transparent;
  overflow-x: hidden;
}

#headlessui-portal-root {
  z-index: 9999 !important;
}

@media only screen and (min-width: 490px) {
  .d-flex {
    display: flex;
  }
  .skipOrderBtn {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 490px) {
  .skipOrderBtn {
    margin-bottom: 10px;
  }
  .w-auto {
    width: auto;
  }
}
