<div id="appstle-subscription-build-a-box-widget">
    {% render 'appstle-subscription-build-a-box-v1' %}
</div>

{% schema %}
{
    "name": "Subscription Build A Box",
    "target": "section",
    "templates": ["product"]
}
{% endschema %}
