@import './variables';
.app-main__outer,
.app-main__inner,
.mid-main-wrapper {
  background: #f4f6f8 !important;
}

.setting-block {
  margin: 0 1rem;
  border-bottom: 1px solid #dfe3e8;
  .setting-heading {
    padding: 2rem 2rem 2rem 0;
    @media screen and (max-width: 991px) {
      padding: 1rem 0 0;
    }
    h2 {
      font-weight: 500;
      line-height: 2rem;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.25rem;
      color: #637381;
    }
  }
  .card {
    margin: 15px 0px 20px 0px !important;
    padding: 24px 20px !important;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  }
}
