<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org "
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico"/>
    <title>Subscription</title>
    <script>(function (w) {
        w.fpr = w.fpr || function () {
            w.fpr.q = w.fpr.q || [];
            w.fpr.q[arguments[0] == 'set' ? 'unshift' : 'push'](arguments);
        };
    })(window);
    fpr("init", {cid: "lv1rferf"});
    fpr("click");

    setTimeout(() => {
        window.location.assign("https://apps.shopify.com/subscriptions-by-appstle");
    }, 4000);
    </script>
    <script src="https://cdn.firstpromoter.com/fpr.js" async></script>
</head>

<body>
<div style="text-align: center">Loading...</div>
</body>
</html>
