<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000"/>
    <!--
          manifest.json provides metadata used when your web app is installed on a
          user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
    <link rel="manifest" href="manifest.json"/>
    <!--
          Notice the use of %PUBLIC_URL% in the tags above.
          It will be replaced with the URL of the `public` folder during the build.
          Only files inside the `public` folder can be referenced from the HTML.

          Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
          work correctly both with client-side routing and a non-root public URL.
          Learn how to configure a non-root public URL by running `npm run build`.
        -->
    <title>Subscription</title>

<body>
<b>Subscription Privacy Policy</b>
<br/>
<br/>
Subscription "the App" provides subscriptions or recurring order service - "the Service", to merchants who use Shopify
to power their stores. This Privacy Policy describes how personal information is collected, used, and shared when you
install or use the App in connection with your Shopify-supported store.
<br/>
<br/>
<b>Personal Information the App Collects</b>
<br/>
<br/>
When you install the App, we are automatically able to access certain types of information from your Shopify account:
<ul>
    <li>Shopify Account Data such as your store’s name, email address, phone numbers, and
        locations.
    </li>
    <li>Online Store, script tags in your Online Store, and theme.</li>
    <li>The store’s Products and Collections.</li>
    <li>Customers’ data required to process recurring orders and send notifications, such as customer names, e-mail
        addresses, phone numbers, and physical addresses.
    </li>
    <li>Online store visitors’ data such as their IP address, web browser details, time zone, and information about the
        cookies installed on the particular device.
    </li>
</ul>

<b>*Please note that the customer’s billing information is not accessed by the App, as the order processing is done
    through Shopify checkout integration.</b>

All our information is collected through your Shopify merchant account, or by using the following technologies: a)
“Cookies”; b) “Log Files”; c) "Web beacons," "tags," and "pixels".
<br/>
<br/>
"Cookies" are data files that are placed on your device or computer, and often include a unique identifier, which is
anonymized for data privacy. For more information about cookies, and how to disable cookies, visit
http://www.allaboutcookies.org.
"Log files" track actions occurring on the online Store/Site, and collect data such as IP address, browser type,
Internet service provider, referring/exit pages, and date/time stamps.
"Web beacons," "tags," and "pixels" are electronic files used to record information about how the online Store/Site is
browsed.
<br/>
<br/>
<b>Using the Information Collected</b>
<br/>
<br/>
The information collected by the App is purely used for providing end to end subscription or recurring order
functionalities to your store and customers. The information is also used to communicate with you and optimize or
improve the App.
<br/>
<br/>
<b>*Please note that no customer or shopper information or data is used by the App for promotions or advertisements.
    Also, the App does not share the customer or shopper information or data with any third parties.</b>
<br/>
<br/>
<b>Sharing Your Personal Information</b>
<br/>
<br/>
a.) The App uses the services of a few Third Party tools, to provide a better experience to you (the merchant) and your
store. These are opt-in services such as ‘Requesting a feature’ from the App, which might access a few merchant and
store information such as store name and location. However, the third party tools do not collect or interact with any
customer or shopper information or data.

<br/>
<br/>
b) The App may share the information or data collected with relevant legal authorities, as may be required by law, to
respond to any subpoena, search warrant or other lawful requests, that may arise in relation to your store or
operations. This is to strictly comply with the applicable laws and regulations.

<br/>
<br/>
<b>EU Data Subject Rights</b>
<br/>
<br/>
If you reside in the European Economic Area or Switzerland (collectively the "EU"), please be advised that Appstle
follows the conditions, regulations, and rules under the General Data Protection Regulation ("GDPR"), to process
(collect, store, and use) customer data. The data will be processed only if: (a) it is necessary for the performance of
a contract; (b) our, or a third party's (e.g. Shopify) legitimate business interest; or (c) with your consent.
<br/>
<br/>
Our Clients (merchants) determine the lawful grounds for processing data that we receive through their use of our
Services, and all processing is based on our Clients' instructions.
<br/>
<br/>
If you are a European resident, you have the right to access the information we collect about you, and ask that the
information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the
contact information below.
<br/>
<br/>
Additionally, if you are a European resident please note that all your information that we collect is used purely to
fulfill the contracts we might have with you, or to otherwise pursue our legitimate business interests listed above.
Additionally, please note that your information will be transferred outside of Europe, including to the United States
and Canada, where our operations are based.

<br/>
<br/>

<b>Contact</b>
We may update this privacy policy from time to time in order to reflect changes to our business practices, or for other
operational, legal or regulatory reasons.

<br/>
<br/>
Contact us for more information about our privacy practices, or address concerns by emailing us at at
subscription-support@appstle.com.

</body>

</html>
